.payment-card {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.payment-card--stripe {
  background: linear-gradient(172deg, #6f80ff 35%, #1a1d42 30%);
}
.payment-card--authorize {
  --circle-size: 08rem;
  position: relative;
  background: #273655;
}
.payment-card--authorize::before {
  content: "";
  width: var(--circle-size);
  height: var(--circle-size);
  position: absolute;
  top: -20%;
  left: -10%;
  background: #4c7cff;
  border-radius: 100vmax;
  z-index: -1;
}
.payment-card--authorize::after {
  --scale: 0.425;
  content: "";
  width: calc(var(--circle-size) * var(--scale));
  height: calc(var(--circle-size) * var(--scale));
  position: absolute;
  bottom: 30%;
  right: 10%;
  background: #ffc107;
  border-radius: 100vmax;
  z-index: -1;
}
.payment-card--braintree {
  background: #202020;
}
.payment-card__logo {
  display: block;
  height: 2rem;
  align-self: flex-start;
  margin-bottom: 0.5rem;
}
.payment-card__chip {
  width: 3rem;
}

/* Add merchant button */
.add-merchant-button {
  border: 0.125rem dashed var(--mantine-primary-color-4);
}
